@model IList<_1263087.Models.Staff>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Staff Name</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Phone</th>
                <th>Department Name</th>
                <th> Edit</th>
                <th> Delete</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Staff",new { id=item.StaffID })" class="editDialog">
                        <i class="fade fa-pencil-square-o"></i>Edit
                    </a>
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "Delete", "Staff", new { @id = item.StaffID }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "div-record" }, new { @class = "fa fa-trash-o" })
                </td>
            </tr>
            }
        </tbody>

    </table>
</div>

<script>
    $(document).ready(function () {
        $("#Add").click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $(".divforAdd").html(response);
            });

            $("#Add-Modal").modal({
                backdrop: "static",
            }, 'show');
        });
        $(".editDialog").click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $(".divforUpdate").html(response);
            });

            $("#Edit-Modal").modal({
                backdrop: "static",
            }, 'show');
        })
    })
</script>

