@model _1263087.Models.Staff

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>


@using (Ajax.BeginForm("Add", "Staff", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))

{
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    @Html.TextBoxFor(m => m.StaffName, new { @class = "form-control", @placeholder = "StaffName" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    @Html.TextBoxFor(m => m.ContactAddress, new { @class = "form-control", @placeholder = "ContactAddress" })
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", @placeholder = "DateOfBirth", Type="date" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "PhoneNumber" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control", @placeholder = "DepartmentName" })

                    @*@Html.TextBoxFor(m => m.DepartmentID, new { @class = "form-control", @placeholder = "DepartmentID" })*@
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
        <button type="submit" class="btn btn-primary" name="cmd"><i class="fa fa-check"></i>Save</button>

    </div>
}
